<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uniteproject.mapper.BabyMapper">

    <select id="selectBabyById" resultType="baby" parameterType="int">
        select * from baby b,user u where u.id=b.userId and babyId=${babyId}
    </select>

    <select id="showAllImg" resultType="map" parameterType="int">
        select imgUrl from userimg ui,user u where ui.userId = u.id and userId=${userId}
    </select>

    <select id="selectbabydid" parameterType="int" resultType="map">
        select c.didTitle,c.didDesc,c.didImg from babydid c ,user u where c.userId=u.id and c.userId=${userId}
    </select>

    <insert id="saveAndInsertImage" parameterType="UserImage">
        insert into userimg  (imgId,userId,imgUrl,imgDesc) values (null,#{userId},#{imgUrl},#{imgDesc})
    </insert>

    <insert id="insertBaby" parameterType="int" >
        insert into baby (babyId,babyDesc,head,heright,weight,userId) values (null ,#{babyDesc},#{head},#{heright},#{weight},#{userId})
    </insert>



</mapper>