<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uniteproject.mapper.BabyMapper">

    <select id="selectBabyById" resultType="baby" parameterType="int">
        select * from baby where babyId=${babyId}
    </select>

    <insert id="updateUserImageByBabyId" parameterType="user">
        insert into userImg(imgUrl) value (#{imgUrl}) where userId = #{userId}
    </insert>

</mapper>