<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniteproject.mapper.ComTypeMapper">
    <select id="getComTypeList" parameterType="int" resultType="ComType">
        select * from comType
    </select>
</mapper>