<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uniteproject.mapper.GoodsMapper">
    <!--<select id="getGoodsList" parameterType="Goods" resultType="int">
       select g.*,t.typeName from goods g left join goodsType t on g.goodsTypeId = t.goodsTypeId;
    </select>-->
    <select id="getGoodsTypeCount" resultType="int">
        select count(1) from goods g , goodstype t where g.goodsTypeId = t.goodsTypeId and g.goodsTypeId=#{goodsTypeId} group by g.goodsTypeId
    </select>
    <select id="getGoodsByType" parameterType="int" resultType="Goods">
        select t.typeName ,g.* from goods g left join goodstype t on g.goodsTypeId = t.goodsTypeId where t.goodsTypeId=#{goodsTypeId} limit #{goodsCount},#{num}
    </select>

    <select id="getGoodsList" parameterType="int" resultType="Goods">
        select * from goods limit #{count},12
    </select>
    <select id="getGoodsCount" resultType="int">
        select count(1) from goods
    </select>
    <select id="getGoodsById" parameterType="int" resultType="Goods">
        select * from goods where goodsId=#{goodsId}
    </select>
</mapper>