<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniteproject.mapper.JinNangMapper">

    <select id="getBannerUrl" resultType="BannerUrl">
        select * from banner
    </select>

    <select id="getEssay" resultType="Cyclopedia">
        select * from cyclopedia
    </select>


    <select id="getRecipe" resultType="recipe">
        select * from recipe
    </select>


    <select id="getFoodsTypeList" resultType="foodsType">
        select * from foodsType
    </select>

    <select id="getFoodsByName" resultType="foods" parameterType="string">
        select * from foods
        <where>
            <if test="foodsName != null and foodsName !=''">
                foodsName like '%${foodsName}%'
            </if>
        </where>
    </select>

</mapper>