<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniteproject.mapper.MyMapper">

    <select id="getCyclopediaById" resultType="Cyclopedia" parameterType="int">
         select  * from cyclopedia c left join user_cycloppediaid uc on  c.cycid = uc.cyclopediaid left join user u  on uc.userid = u.id where u.id=#{userId};
    </select>

    <select id="getShopTro" resultType="Goods" parameterType="int">
         select g.*,s.goodsNum from goods g,shoptro s where s.userId=#{userId} and g.goodsId=s.goodsId
    </select>



    <select id="getMyMainInfo" resultType="User" parameterType="int">
        select * from user where id=#{userId}
    </select>


    <select id="getIntegral" resultType="int" parameterType="int">
        select userIntegral from user where id=#{userId}
    </select>

    <select id="getSign" resultType="int" parameterType="int">
        select sign from user where id=#{userId}
    </select>

    <update id="setSign" parameterType="int">
        UPDATE user set sign = 1 ,userIntegral = userIntegral+2 where id=#{userId}
    </update>

    <update id="updateSign">
        UPDATE user set sign = 0
    </update>


</mapper>