<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uniteproject.mapper.UserMapper">
    <select id="isLogin" parameterType="user" resultType="int">
        select id from user where username=#{username} and password=#{password}
    </select>

    <select id="login" parameterType="user" resultType="int">
        select count(1) from user where username=#{username} and password=#{password}
    </select>

    <select id="selectUserByEmail" parameterType="string" resultType="int">
             select count(1)  from user where email = #{email}
        </select>

    <select id="selectUserByUserName" parameterType="string" resultType="int">
             select count(1)  from user where usernam = #{username}
        </select>
    <insert id="insertUser" parameterType="user" >
      insert into user (username,  password,
      email,phone)
    values (#{username}, #{password},
    #{email}, #{phone})
    </insert>

    <!-- <select id="getGoodsById" parameterType="int" resultType="Goods">
         select * from goods where id = #{id}
     </select>-->


</mapper>